@import 'terminal-preview/dist/terminal-min.css';

/*@font-face {
    font-family: 'Monofur';
    src: url(https://rawgit.com/powerline/fonts/master/UbuntuMono/Ubuntu%20Mono%20derivative%20Powerline.ttf);
}*/

h1 .version { opacity: 0; font-size: 0.8em; font-family: monospace; letter-spacing: -5px; transition: .25s opacity linear; }
h1:hover .version { opacity: .3; }

.detached { position: fixed; top: 5px; z-index: 1; border: 10px solid #fff; outline: 1px solid #d2d2d2; box-shadow: #f6f6f6 0px 0px 20px; }
.visibility-hidden { visibility: hidden; }

textarea#input { font-family: monospace; }

pre { position: relative; }
pre a.btn { display: none; position: absolute; right: 2px; top: 2px; }
pre:hover a.btn { display: block; }

.builder .blocks { overflow: hidden; }

.builder .blocks .block .panel-heading { overflow: hidden; }
.builder .blocks .placeholder:before { content: ' '; display: block; min-height: 7em; border: 2px dashed #ccc; background: #fafafa; }

.builder .blocks:empty:before { content: 'Click on, or drag, the above blocks to build your prompt.'; display: block; text-align: center; padding: 2em 0; }

.builder .blocks .block { min-height: 5em; margin-bottom: -99999px; padding-bottom: 99999px; }
.builder .blocks .block.remove { display: none; }

@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-3 .col-md-6 {
        width: 100%;
    }

    .builder .blocks > .block:nth-child(4n+1) {
        clear: left;
    }
}

@media (min-width: 1200px) {
    .builder .blocks > .block:nth-child(4n+1) {
        clear: left;
    }
}

.fg.bg-30,
.fg.bg-49 { background-color: #0C0C0C; }
.fg.bg-31 { background-color: #CD0000; }
.fg.bg-32 { background-color: #00CD00; }
.fg.bg-33 { background-color: #CDCD00; }
.fg.bg-34 { background-color: #1E90FF; }
.fg.bg-35 { background-color: #CD00CD; }
.fg.bg-36 { background-color: #00CDCD; }
.fg.bg-37,
.fg.bg-39 { background-color: #E5E5E5; }
.bg.bg-49,
.fg.bg-90 { background-color: #4C4C4C; }
.fg.bg-91 { background-color: #F00; }
.fg.bg-92 { background-color: #0F0; }
.fg.bg-93 { background-color: #FF0; }
.fg.bg-94 { background-color: #4682B4; }
.fg.bg-95 { background-color: #F0F; }
.fg.bg-96 { background-color: #0FF; }
.fg.bg-97 { background-color: #FFF; }

body.no-clipboard .copy { display: none; }

/* Terminal token overrides */
/* @url http://tldp.org/HOWTO/Bash-Prompt-HOWTO/bash-prompt-escape-sequences.html */
.terminal .token[data-value="\\!"]:after { content: '125'; }
.terminal .token[data-value="\\#"]:after { content: '126'; }
.terminal .token[data-value="\\$"]:after { content: '$'; }
.terminal .token[data-value="\\@"]:after { content: '01:26 pm'; }
.terminal .token[data-value="\\A"]:after { content: '13:26'; }
.terminal .token[data-value="\\d"]:after { content: 'Tue Aug 26'; }
.terminal .token[data-value="\\h"]:after { content: 'hostname'; }
.terminal .token[data-value="\\H"]:after { content: 'hostname.domain.com'; }
.terminal .token[data-value="\\j"]:after { content: '0'; }
.terminal .token[data-value="\\l"]:after { content: 'ttys001'; }
.terminal .token[data-value="\\s"]:after { content: '-bash'; }
.terminal .token[data-value="\\T"]:after { content: '01:26:52'; }
.terminal .token[data-value="\\t"]:after { content: '13:26:52'; }
.terminal .token[data-value="\\u"]:after { content: 'username'; }
.terminal .token[data-value="\\v"]:after { content: '3.2'; }
.terminal .token[data-value="\\V"]:after { content: '3.2.0'; }
.terminal .token[data-value="\\w"]:after { content: '/full/path'; }
.terminal .token[data-value="\\W"]:after { content: 'path'; }
.terminal.root .token[data-value="\\$"]:after { content: '#'; }

.terminal .command[data-value='__git_ps1']:after { content: ' (master)'; }
.terminal .command[data-value='__git_ps1 " [%s]"']:after { content: ' [master]'; }

.terminal .cursor:before { content: './cmd -arg --arg=val'; }
